
  .subscribe-button{
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 1s;
  } 

  .subscribe-button:hover{
    background-color: rgb(156, 5, 5);
  }

  .subscribe-button:active{
    opacity: 0.4;
  }

  .join-button{
    background-color: rgb(255, 255, 255);
    color: rgb(5, 103, 178);
    border-color: rgb(5, 103, 178) solid 1px;
    border-style: solid;
    border-width: 1px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 1s, color 1s;
    
  }

  .join-button:hover{
    background-color: rgb(5, 103, 178);
    color: white;
  }

  .join-button:active{
    opacity: 0.4;
  }



   .tweet-button{
    background-color: rgb(5, 123, 202);
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-right: 8px;
    transition: box-shadow 1s;
  }

  .tweet-button:hover{
   box-shadow: 2px 4px 1px rgba(0, 0, 0, 0.2);
  }

  .uber-button{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 1s;
  }

  .uber-button:hover{
    opacity: 0.8;
  }

  .uber-button:active{
    opacity: 0.4;
  }

  .amazon-button{
    background-color: rgb(255, 216, 20);
    color: rgb(0, 0, 0);
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 1s,color 1s;
  }

  .amazon-button:hover{
    background-color: rgb(235, 203, 88);
  }

  .amazon-button:active{
    background-color: rgb(168, 119, 4);
  }

  .github-button{
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 8px;
    transition: box-shadow 0.15s;
  }

  .github-button:hover{
    box-shadow: 2px 4px 1px rgba(0, 0, 0, 0.2);
  }

  .linkedin-button{
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 8px;
    transition: background-color 1s;
  }

  .linkedin-button:hover{
    background-color: rgb(0, 82, 164);
  }

  .linkedin-button:active{
    background-color: rgb(0, 62, 124);
  }

  .link-button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 102, 164);
    border-color: rgb(0, 102, 194);
    border-style: solid;
    border-width: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 1s, color 1s;
  }

  .link-button:hover{
    opacity: 0.6;
    border-width: 2px;
    color: rgb(0, 82, 124);
    
  }

  .link-button:active{
    background-color: rgb(0, 82, 124);
  }

  .bootstrap-button{
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 1s;
  }

  .bootstrap-button:hover{
    background-color: rgb(139, 87, 215);
  }

  .bootstrap-button:active{
    background-color: rgb(81, 42, 139);
  }

  .boot-button{
    background-color: rgb(255, 255, 255);
    color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
    border-style: solid;
    border-width: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 1s, color 1s;
  }

  .boot-button:hover{
    background-color: rgb(108, 117, 125);
    color: white;
    
  }

  .boot-button:active{
    background-color: rgb(73, 80, 87);
  }

